<div align="center">
<p id="info"></p>
<table style="width: 40%;">
    <tr>
        <td>
            <div class="input-group">
               <span class="input-group-btn">
                  <p class="btn btn-default" type="button">
                     帐号
                  </p>
               </span>
               <input type="text" class="form-control" name="username" id="username">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="input-group">
               <span class="input-group-btn">
                  <p class="btn btn-default" type="button">
                     密码
                  </p>
               </span>
               <input type="password" class="form-control" name="raw_password" type="password" id="raw_password">
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <button type="button" class="btn btn-primary" onclick="sign_in();">&nbsp;&nbsp;&nbsp;&nbsp;提交&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <!--<button type="button" class="btn btn-primary btn-lg btn-block">提交</button>-->
        </td>
    </tr>
</table>
</div>