<div align="center">
<form action="/account/sign_up/" method="post" enctype="multipart/form-data" onsubmit="return validate_sign_up();" id="sign_up_form">
<p id="info"></p>
<table style="width: 40%;">
    <tr>
        <td>
            <div class="input-group">
               <span class="input-group-btn">
                  <p class="btn btn-default" type="button">
                     帐号
                  </p>
               </span>
               <input type="text" class="form-control" name="username" onkeypress="is_username_exists();" id="username">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="input-group">
               <span class="input-group-btn">
                  <p class="btn btn-default" type="button">
                     密码
                  </p>
               </span>
               <input type="password" class="form-control" name="raw_password" type="password" id="password">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="input-group">
               <span class="input-group-btn">
                  <p class="btn btn-default" type="button">
                     确认
                  </p>
               </span>
               <input class="form-control" name="confirm_password" type="password" id="confirm_password">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="input-group">
               <span class="input-group-btn">
                  <p class="btn btn-default" type="button">
                     邮箱
                  </p>
               </span>
               <input type="text" class="form-control" name="email" id="email">
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <button type="submit" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;提交&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <!--<button type="button" class="btn btn-primary btn-lg btn-block">提交</button>-->
        </td>
    </tr>
</table>
</form>
</div>