<div align="center">
<table style="width: 40%;">
    <tr>
        <td>
            <div class="input-group">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                     帐号
                  </button>
               </span>
               <input type="text" class="form-control">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="input-group">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                     密码
                  </button>
               </span>
               <input type="text" class="form-control">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="input-group">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                     确认
                  </button>
               </span>
               <input type="text" class="form-control">
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="input-group">
               <span class="input-group-btn">
                  <button class="btn btn-default" type="button">
                     邮箱
                  </button>
               </span>
               <input type="text" class="form-control">
            </div>
        </td>
    </tr>
    <tr>
        <td align="center">
            <button type="button" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;提交&nbsp;&nbsp;&nbsp;&nbsp;</button>
            <!--<button type="button" class="btn btn-primary btn-lg btn-block">提交</button>-->
        </td>
    </tr>
</table>
</div>