<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{% static favicon.ico %}">
    <title>信使的站点</title>
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="/static/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{% static 'assets/js/ie8-responsive-file-warning.js' %}"></script><![endif]-->
    <script src="{% static 'assets/js/ie-emulation-modes-warning.js' %}"></script>
    <script src="{% static 'js/jquery-1.11.3.js' %}"></script>

 </head>
<body>
<div>
    <img src="/media/image/fantasy/yx_a_1.png" id="nighter1" style="width: 100%">
</div>
<a onclick="change_img();">-.-</a>
</body>

<script>
function change_img(){
 $("#nighter1").attr("src", "/media/image/fantasy/xx.png");
}
</script>
</html>


